{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazomalala, plateforme de service intermédiaire dans le domaine de la santé</title>
    <link rel="stylesheet" href="{% static 'resources/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fontawesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fontawesome/brands.css' %}">
</head>

{% block body %}
<body>
    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>

<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'resources/bootstrap/bootstrap.bundle.js' %}"></script>
{% endblock %}
</html>

