{% extends 'inc/base.html' %}
{% load static %}

{% block header %}
<header class="navbar-dashboard menu-block text-white" id = "navbar-container">
    <div class="d-flex flex-row justify-content-between mt-2 px-4">
        <button type="button" class = "btn custom-btn-burger-dash px-2 py-1 rounded mt-3" id = "burger-menu"><i class = "fa fa-bars text-light"></i></button>
        <img src="{% static 'images/logo-checkedu-dark.png' %}" alt="" class = "custom-logo-navbar logo-show" id = "logo" width = "80px">
    </div>

    <nav class = "navbar-nav d-block d-flex flex-column nav-pills mt-4 ms-2" id = "first-nav">
        <a href="" class = "nav-link mt-2 active ps-4"> <img src="{% static 'images/dashboard.png'%}" alt="Icone dashboard" class = "me-3 custom-img-icon">Tableau de bord</a>
        <div class = "mt-3">
            <h3 class="h6 ps-4">VENTE</h3>
            <a href="" class = "nav-link mt-2 ps-4 bg-hover"> 
                <img src="{% static 'images/command.png'%}" alt="Icone commande" class = "me-3 custom-img-icon">Commande 
                <i class = "fa fa-chevron-down icon-down icon-down-hidden text-light ms-5"></i>
                <a href="" class = "nav-link link-hover1 a-collapse">Commande</a>
                <a href="" class = "nav-link link-hover1 a-collapse">Ligne</a>
                <a href="" class = "nav-link link-hover1 a-collapse">Panier</a>
                <a href="" class = "nav-link link-hover1 a-collapse">Facture</a>
                <a href="" class = "nav-link link-hover1 a-collapse">Livraison</a>
            </a>
            
            <a href="" class = "nav-link mt-1 ps-4 bg-hover">
                <img src="{% static 'images/product.png'%}" alt="Icone produit" class = "me-3 custom-img-icon">Produit 
                <i class = "fa fa-chevron-down icon-down icon-down-hidden text-light custom-m-product"></i>
                <a href="" class = "nav-link link-hover2 a-collapse">Produit</a>
                <a href="" class = "nav-link link-hover2 a-collapse">Catégorie</a>
                <a href="" class = "nav-link link-hover2 a-collapse">Historique</a>
                <a href="" class = "nav-link link-hover2 a-collapse">Stock</a>
            </a>
        </div>

        <div class = "mt-4">
            <h3 class="h6 ps-4">ORGANISME</h3>
            <a href="" class = "nav-link mt-2 ps-4 bg-hover">
                <i class = "fa fa-user-circle me-3"></i>Entité
                <i class = "fa fa-chevron-down icon-down  icon-down-hidden text-light custom-m-person"></i>
                <a href="" class = "nav-link link-hover3 a-collapse">Patient</a>
                <a href="" class = "nav-link link-hover3 a-collapse">Médécin</a>
                <a href="" class = "nav-link link-hover3 a-collapse">Livreur</a>
            </a>
            <a href="" class = "nav-link mt-2 ps-4 bg-hover">
                <i class = "fa fa-plus-square me-3"></i>Pharmacie
                <i class = "fa fa-chevron-down icon-down icon-down-hidden text-light" style = "margin-left : 3.9rem;"></i>
                <a href="" class = "nav-link link-hover4 a-collapse">Pharmacie</a>
                <a href="" class = "nav-link link-hover4 a-collapse">Dépôt</a>
            </a>
        </div>

        <div id = "link-configure">
            <a href="" class = "nav-link ps-4 bg-hover" style = "margin-top: 9rem;"> <i class="fa fa-gear me-3"></i>Paramètres</a>
            <a href="" class = "nav-link mt-2 ps-4 bg-hover"> <i class="fa fa-sign-out me-3"></i>Se déconnecter</a>
        </div>    
    </nav>

    <nav class = "navbar-nav d-none mt-5 ms-2" id = "second-nav">
        <a href="" class = "nav-link mt-2 ps-4"><img src="{% static 'images/dashboard.png'%}" alt="Icone dashboard" class = "me-3 custom-img-icon"></a>
        <a href="" class = "nav-link mt-2 ps-4"> <img src="{% static 'images/command.png'%}" alt="Icone commande" class = "me-3 custom-img-icon">
        <a href="" class = "nav-link mt-2 ps-4"> <img src="{% static 'images/product.png'%}" alt="Icone produit" class = "me-3 custom-img-icon"></a>
        <a href="" class = "nav-link mt-2 ps-4"><i class = "fa fa-user-circle me-3"></i></a>
        <a href="" class = "nav-link mt-2 ps-4"><i class = "fa fa-plus-square me-3"></i></a>
        <a href="" class = "nav-link ps-4 " style = "margin-top: 10rem;"> <i class="fa fa-gear me-3"></i></a>
        <a href="" class = "nav-link mt-2 ps-4 "> <i class="fa fa-sign-out me-3"></i></a>
    </nav>

</header>

<div class = "text-light position-absolute custom-position-command nav-icon-hidden bg-blue rounded py-3 px-4 shadow-lg" id = "command-container">
    <a href="" class = "nav-link link-hover">Commande</a>
    <a href="" class = "nav-link link-hover">Ligne</a>
    <a href="" class = "nav-link link-hover">Panier</a>
    <a href="" class = "nav-link link-hover">Facture</a>
    <a href="" class = "nav-link link-hover">Livraison</a>
</div>

<div class = "text-light position-absolute custom-position-product nav-icon-hidden bg-blue rounded py-3 px-4 shadow-lg" id = "product-container">
    <a href="" class = "nav-link link-hover">Produit</a>
    <a href="" class = "nav-link link-hover">Catégorie</a>
    <a href="" class = "nav-link link-hover">Historique</a>
    <a href="" class = "nav-link link-hover">Stock</a>
</div>

<div class = "text-light position-absolute custom-position-user nav-icon-hidden bg-blue rounded py-3 px-4 shadow-lg" id = "user-container">
    <a href="" class = "nav-link link-hover">Patient</a>
    <a href="" class = "nav-link link-hover">Médecin</a>
    <a href="" class = "nav-link link-hover">Livreur</a>
</div>

<div class = "text-light position-absolute custom-position-pharma nav-icon-hidden bg-blue rounded py-3 px-4 shadow-lg" id = "pharma-container">
    <a href="" class = "nav-link link-hover">Pharmacie</a>
    <a href="" class = "nav-link link-hover">Dépôt</a>
</div>
{% endblock %}