{% extends 'layout/main.html' %}
{% load static %}

{% block header %}
    <header class = "d-flex flex-row justify-content-between">
        <div class = "bg-cloud-blue custom-logo-menu-container">
            <a href="" class = "text-decoration-none exo2-font text-marin-blue custom-text-hazomalala"><img src="{% static 'userInterface/images/logo/png/logo-hazomalala-bleu-nuit.png' %}" alt="Logo de Hazomalala" class = "img-fluid custom-logo-menu">
                HAZOMALALA
            </a>
        </div>

        <nav>
            <p></p>
        </nav>

        <div>

        </div>

        <div>

        </div>
    </header>
{% endblock %}