:root {
    --main-accent-color: #cee9f2;
    --main-focus-accent-color: #050e47;
    --main-secondary-accent-color : rgb(214, 214, 214);
}

@font-face {
    font-family: 'Exo2';
    src: url(../webfonts/exo2/static/Exo2-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../webfonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(../webfonts/Kanit/Kanit-Regular.ttf);
}

* {
    font-family: 'Poppins';
    font-size: 0.97em ;
}

.exo2-font {
    font-family: 'Exo2';
}

.kanit-font {
    font-family: 'Kanit';
}

.text-marin-blue {
    color : var(--main-focus-accent-color);
}

.text-cloud-blue {
    color : var(--main-accent-color);
}

.bg-marin-blue {
    background-color : var(--main-focus-accent-color);
}

.bg-marin-blue:hover {
    background-color : var(--main-focus-accent-color);
}

.bg-cloud-blue {
    background-color : var(--main-accent-color);
}

.bg-cloud-blue:hover {
    background-color : var(--main-accent-color);
}

.bg-gray {
    background-color: var(--main-secondary-accent-color);
}

.bg-hover:hover {
    background-color: #badbe6;
}

.custom-logo-img-dashboard {
    width : 4rem;
}

.custom-menu-icon {
    width: 18px;
    opacity: .8;
}

.custom-icon-setting {
    margin : 6.5rem 0rem 1rem 2.5rem;
}

.custom-ps-menu {
    padding-left: 2.5rem;
}

.custom-menu-container {
    position: fixed;
    width: 17rem;
    min-height: 19rem;
    height: 100%;
}

.custom-switch-input {
    font-size: 1.7em;
    cursor: pointer;
}

.custom-icon-sun {
    margin : 0.75rem 3rem 0rem 0rem;
    cursor : pointer;
}

.custom-icon-moon {
    margin : 0.75rem 0rem 0rem 0.5rem;
    cursor : pointer;
}





