{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="{% static 'userInterface/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'userInterface/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'userInterface/css/loginUser.css' %}">
    <link rel="stylesheet" href="{% static 'userInterface/resources/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'userInterface/resources/fontawesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'userInterface/resources/fontawesome/brands.css' %}">
    <link rel="icon" href="{% static 'userInterface/images/icons/hazomalala.ico' %}" type="image/x-icon">
    
</head>

{% block body %}
    <body>
        {% block header %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block section %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
{% endblock %}

<script src="{% static 'userInterface/resources/bootstrap/bootstrap.bundle.js' %}"></script>
</html>