:root {
    --main-accent-color: #cee9f2;
    --main-focus-accent-color: #050e47;
    --main-secondary-accent-color : rgb(214, 214, 214);
}

@font-face {
    font-family: 'Exo2';
    src: url(../webfonts/exo2/static/Exo2-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../webfonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(../webfonts/Kanit/Kanit-Regular.ttf);
}

* {
    font-family: 'Poppins';
    font-size: 0.97em ;
}

.exo2-font {
    font-family: 'Exo2';
}

.kanit-font {
    font-family: 'Kanit';
}

.text-marin-blue {
    color : var(--main-focus-accent-color);
}

.text-cloud-blue {
    color : var(--main-accent-color);
}

.bg-marin-blue {
    background-color : var(--main-focus-accent-color);
}

.bg-marin-blue:hover {
    background-color : var(--main-focus-accent-color);
}

.bg-cloud-blue {
    background-color : var(--main-accent-color);
}

.bg-cloud-blue:hover {
    background-color : var(--main-accent-color);
}

.bg-gray {
    background-color: var(--main-secondary-accent-color);
}

.bg-hover:hover {
    background-color: #badbe6;
}

.custom-logo-menu-container {
    border-radius: 45px;
    height: 14rem;
    margin-top: -6rem;
}

.custom-text-hazomalala {
    font-size: 1.7em;
    margin-top: 8rem;
}

.custom-logo-menu {
    width : 4rem;
    margin-top: 7rem;
}

.custom-icon-menu {
    width : 25px;
}

.custom-menu-container {
    width : 27.5%;
    height: 4rem;
    border-radius: 35px;
    margin-top : 2rem;
}

.custom-text-cart {
    font-size: 1.1em;
}

.custom-menu-nav-link {
    margin-top: 0.75rem;
    color : var(--main-focus-accent-color);
}

.custom-btn-menu-container {
    margin-top: 2.5rem;
}

.custom-search-icon-menu {
    font-size: 1.7em;
}