{% extends 'layout/main.tpl' %}
{% load static %}

{% block body %}
    <body>
        {% block main %}
            <main class = "container d-flex flex-row bg-white shadow rounded custom-login-container">
                <div class = "bg-cloud-blue custom-logo-login-container">
                    <img src="{% static 'images/logo/png/logo-hazomalala-bleu-nuit.png' %}" alt="Logo de Hazomalala" class = "img-fluid custom-logo-login">
                </div>

                <div class = "p-5">
                    <h1 class = "h2 kanit-font text-marin-blue fw-bolder">Connexion</h1>

                    <form class = "mt-5">
                        <div class="mb-4">
                            <label for="emailAdmin">Adresse e-mail</label><br>
                            <div class = "position-relative">
                                <i class = " fa fa-envelope position-absolute custom-icon-input-login-admin"></i>
                                <input type="email" class="custom-input-login-admin" id="emailAdmin">
                            </div>
                        </div>

                        <div class = "mt-5">
                            <label for="mdpAdmin">Mot de passe</label><br>
                            <div class = "position-relative">
                                <i class = " fa fa-lock position-absolute custom-icon-input-login-admin"></i>
                                <input type="password" class="custom-input-login-admin" id="mdpAdmin">
                            </div>
                        </div>

                        <button type="submit" class = "btn bg-cloud-blue text-marin-blue d-block custom-btn-login-admin mt-5">Se connecter</button>

                        <p class = "mt-5 custom-link-register">Vous n'avez pas encore de compte ? <a href="" class = "link-dark">Inscrivez-vous</a></p>
                    </form>
                </div>
            </main>
        {% endblock %}
    </body>
{% endblock %}