:root {
    --main-accent-color: #cee9f2;
    --main-focus-accent-color: #050e47;
}

@font-face {
    font-family: 'Exo2';
    src: url(../webfonts/exo2/static/Exo2-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../webfonts/Poppins/Poppins-Regular.ttf);
}

* {
    font-family: 'Poppins';
    font-size: 0.97em;
}

.exo2-font {
    font-family: 'Exo2';
}

.text-marin-blue {
    color : var(--main-focus-accent-color);
}

.text-cloud-blue {
    color : var(--main-accent-color);
}

.bg-marin-blue {
    background-color : var(--main-focus-accent-color);
}

.bg-cloud-blue {
    background-color : var(--main-accent-color);
}

.custom-logo-img-dashboard {
    width : 6.5rem;
    margin-right: -1rem;
}

.custom-font-menu-admin {
    font-size: 1.15em;
}

.custom-menu-container {
    padding : 1.5rem;
    height : 30%;
    border-radius: 35px;
    margin-left: -3.5rem;
}

.custom-search-bar-menu {
    height : 2rem;
    border-radius: 25px;
    text-indent : 0.5rem;
    font-size: 0.9em;
}

.custom-icon-input-search {
    top : -0.15rem;
    right : 0.25rem;
}

.custom-icon-feature-container {
    margin-top: 2.15rem;
}

.custom-icon-feature-dashboard {
    font-size: 1.35em;
    cursor : pointer;
}



